.botao {
  display: inline-block;
  padding: 12px 30px;
  margin: 10px 5px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  text-decoration: none;
  color: #2e2e2e;

  background: linear-gradient(to bottom, #56ab2f 0%, #a8e063 50%, #ffffff 100%);
  background-repeat: no-repeat;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.botao:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

a.botao {
  display: inline-block;
  padding: 12px 30px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  color: #2e2e2e;

  background: linear-gradient(to bottom, #56ab2f 0%, #a8e063 50%, #ffffff 100%);
  background-repeat: no-repeat;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

a.botao:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #56ab2f 0%, #a8e063 50%, #ffffff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed; /* evita repetir ao rolar */
}




    
        table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th {
    text-align: left;
    padding: 15px;
    border-bottom: 2px solid #999; /* linha mais forte no topo */
}

td {
    padding: 15px;
    border-bottom: 1px solid #ccc; /* linhas separando */
}

tr {
    border-bottom: 1px solid #ddd;
}
